<h1>Hello New</h1>
<form method="POST" action="/posts">
  <p>Name of post:<input type="text" name="name"/></p>
  <p>Content of post:<input type="text" name="content"/></p>
<button type="submit" id="submit">Submit</button>
</form>
